<div class="ui vertical segment">
  <div class="ui text container">
    <div class="content">
      <h1 i18n="@@HomeComponent:header">Home</h1>
      <p i18n="a proud sentence about the project@@HomeComponent:tagline">
        Das ist der Book Monkey
      </p>
      <a routerLink="../books" class="ui huge red button">
        <ng-container i18n="@@HomeComponent:book list link">
          Buchliste ansehen
        </ng-container>
        <i class="right arrow icon"></i>
      </a>
    </div>
  </div>
  <div class="ui text container">
    <div class="content">
      <p></p>
      <!-- listens for the event bookSelected emitted in searchComponent and calls method bookSelected in HomeComponent-->
      <bm-search (bookSelected)="bookSelected($event)" class="column"></bm-search>
    </div>
  </div>
</div>
